@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3>О проекте</h3>
    <p>Бывало ли такое, что вам нужно приготовить блюдо при наличии определенных ингредиентов, но при отсутсвии понимания, чего же вы хотите?</p>
    <p>На помощь приходит сервис <b>KitchHub</b>!
        Все, что вам нужно, ввести в поле ввода ингредиентов имеющиеся у вас продукты,
        и нажать на кнопку поиска рецептов. Вам не нужно самим искать рецепты в книгах,
    на сайтах или других источниках, так как эту тяготную работу за вас сделает наш сервис,
при наличии в нашей базе данных определенных рецептов.
</p>
<p>Что касается базы данных рецептов, 
    то у в планах разработки дать пользователям сервиса возможность создавать рецепты,
    либо добавлять уже существующие.
Для этого мы хотим реализовать конструктор создания рецептов,
где вам необходимо ввести данные о рецепте:</p>
<ul>
    <li>Название рецепта;</li>
    <li>Категорию рецепта (например - первое, второе блюдо, напитки, десерты и т.п);</li>
    <li>Национальность блюда (например - итальянская кухня,турецкая кухня и т.д либо блюдо не принадлежит к какой либо кухне);</li>
    <li>Список ингредиентов;</li>
    <li>Описание рецепта, процесса готовки;</li>
    <li>Фото готового блюда, либо процесса готовки.</li>
</ul>
</div>
