@using KitchHub.Controllers;

@{
	ViewData["Title"] = "Ввод ингредиентов";
}

@*	Форма для ввода ингредиентов	*@
<form id="enterIngredientForm" action="addTag">
	<input type="text" 
		   id="tagName">
	<input type="button" 
		   onclick="addTag(document.forms['enterIngredientForm'].tagName, 'current_tags')" 
		   value="Добавить тег">
	<div id="current_tags"></div>
</form>

<button type="submit" onclick="sendIngredients()">Запросить рецепты</button>

<script src="~/js/RecipeSearch.js"></script>